<p style="color: green"><%= notice %></p>
<% if @item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% @item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= render @item %>

<div>
  <%= link_to "Edit this item", edit_item_path(@item) %> |
  <%= link_to "Back to items", items_path %>
  <% if @item.discarded? %>
  <%= link_to "Undelete item", "#{restore_item_path(@item)}"%>
  <% else %>
  <%= form_tag(@item, method: :delete) do %>
  <%= label_tag(:discard_message, "Delete Message:") %>
  <%= text_field_tag(:discard_message) %>
  <%= submit_tag("Delete") %>
  <% end %>
<% end %>
</div>
